.form {
  margin-top: 36px;
}

.form-label {
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  width: 360px;
  height: 72px;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.form-label input {
  box-sizing: border-box;
  width: 360px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #808080;
  padding: 8px 16px;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #2e2f42;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label input:hover {
  border: 1px solid #000;
}
.form-label input:focus {
  outline: none;
  border: 1px solid #4e75ff;
}

fieldset {
  display: flex;
  justify-content: center;
  gap: 48px;
  box-sizing: border-box;
  padding: 0;
  margin: 30px auto 24px auto;
  width: 360px;
  height: 78px;
  border-radius: 8px;
  border: 1px solid #808080;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

fieldset:hover,
fieldset:focus-within,
input[type='radio']:hover {
  border: 1px solid #000;
}

legend {
  text-align: left;
  margin-left: 28px;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

fieldset label {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 104px;
  height: 32px;
  margin-top: 10px;
}

input[type='radio'] {
  margin: 6px;
  border: 1px solid #757575;
  border-radius: 14px;
  width: 20px;
  height: 20px;
}

.form button {
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background-color: #4e75ff;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

form button:hover {
  background-color: #6c8cff;
}
